<div class="row mb-4">
    <div class="col-md-6">
        <h2>Categorias de Produtos</h2>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-outline-primary"
                data-toggle="modal"
                data-target="#exampleModal">
            Nova categoria
        </button>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
    </tr>
    </thead>
    <tbody *ngIf="categories">
    <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
    </tr>
    </tbody>
</table>

<!-- modal adicionar categoria -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <input type="text" (change)="setName($event.target.value)" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="createCategory()">Criar</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>