<form action="">
    <div class="row">

        <div class="col-12">
            <h4>Novo produto</h4>
            <hr>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="product-title">Título</label>
                <input type="text" class="form-control" id="product-title">
            </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <label>Valor</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-prepend ">
                    <span class="input-group-text">R$</span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="uploadImage($event)" lang="br">
                <label class="custom-file-label" >Selecionar foto</label>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-end mt-3">
            <button class="btn btn-primary">
                Adicionar produto
            </button>
        </div>

        <div class="col-12">
            <hr>
        </div>

    </div>
</form>